<div class="about">
	<h2>About me</h2>
	<hr><hr>
Hello World! 
<br>My name is Richard. I'm 4th year computer science student at UCLA.
<br>I love programming! currently I'm doing Ruby on Rails and Android.
<br>if you have any suggestion about interesting project, please let me know
<br>I have done several projects, if interested you can check it out <%= link_to "here", project_path %>
<br>I love Google, because it help me so much!
<br>I also love to eat. so if you have any suggestion where to eat please let me know.
<br>I love music, I play guitar during my free time. 
<br>Thank you for checking out my web. Forgive my crappy design :)

<br><br>
Regards,<br>
Richard
<br><br>
<h2>Favorite Quotes</h2>
<hr><hr>
<i>"Stay hungry, stay foolish."</i> - Steve Jobs<br>
<i>"If I fail, I try again, and again, and again"</i> - Nick Vujicic   |   check his inspirational <%= link_to "video", "http://www.youtube.com/watch?v=wOlTdkYXuzE" %>
</div>