
    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <h1>My Projects</h1>

      <!-- Example row of columns -->
      <div class="row">
        
        <div class="span6">
          <h2>Software Programming</h2>
          <ul>
			<li>Remove duplicate files<br>Removing duplicate files in the directory and subdirectory where the program is executed. <br>Written in C</li>
			<li>Simple-paint<br>Simplified version of paint. Written in Java</li>
			</ul>
       </div>

		<div class="span5">
          <h2>Web Development</h2>
         <ul><li><a href="http://indobruin.com">www.indobruin.com</a><br>Indonesian Community in UCLA's Web!'</li></ul>
 
        </div>
        <div class="span6">
          <h2>Ongoing Project</h2>
          <ul>
			<li>Disease detector through Android device</li>
			<li>www.indobruin.com</li>
		  </ul>
        </div>
	

      </div>

      <footer>
        <p>&copy; Richard Lung 2011</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
