
    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <h1>My Projects</h1>

      <!-- Example row of columns -->
      <div class="row">
        
        <div class="span6">
          <h2>Software Programming</h2>
          <ul>
			<li>Remove duplicate files <a href="files/remdup">Download</a><br>Removing duplicate files in the directory and subdirectory where the program is executed. <br>Written in C</li>
			<li>Simple-paint  <a href="files/Simple-Paint.zip">Download</a> <br>Simplified version of paint. Written in Java</li>
			
			<li>Koch snowflake curve   <a href="files/KochCurve.java">Download</a><br>Koch snowflake graphics animation with GUI. <br>Written in Java</li>
			<li>Query Tree <a href="files/Query-Tree.zip">Download</a><br>Simple AI. Guessing user's mind based on database stored by the previous user. Written in Java</li>
			<li>Multithread <a href="files/multithreading.zip">Download</a><br>Modifying simple ray tracer code by Brian Allen so that the code is multithreaded and runs several times faster on multicore machine. Written in C</li>
			
			</ul>
       </div>

		<div class="span5">
          <h2>Web Development</h2>
         <ul><li><a href="http://indobruin.com">www.indobruin.com</a><br>Indonesian Community in UCLA's Web!'</li></ul>
 
        </div>
        <div class="span6">
          <h2>Ongoing Project</h2>
          <ul>
			<li>Please <%= link_to "contact", contact_path %> me for more details!</li>
		
		  </ul>
        </div>
	

      </div>

     

    </div> <!-- /container -->

  </body>
</html>
