<div class="resume">
<a href='/files/LungRichard_ComputerScience.pdf'>Download PDF</a><br>
</div>

<object width="595" height="430">
  <param name="MOVIE" value="solid2.swf">
  <param name="PLAY" value="true">
  <param name="LOOP" value="true">
  <param name="QUALITY" value="high">
  <embed src="/files/LungRichard_ComputerScience.swf" width="595" height="430"
   play="true" align="" loop="true" quality="high"
   TYPE="application/x-shockwave-flash"
   PLUGINSPAGE="[[http://www.macromedia.com/go/getflashplaye]r]">
  </embed>
</object>