<div class="resume">
<a href='/files/LungRichard_Computer Science.pdf'>Download</a>
</div>

<object width="595" height="842">
  <param name="MOVIE" value="LungRichard_Computer Science.swf">
  <param name="PLAY" value="true">
  <param name="LOOP" value="true">
  <param name="QUALITY" value="high">
  <embed src="/files/LungRichard_Computer Science.swf" width="595" height="842"
   play="true" align="" loop="true" quality="high"
   TYPE="application/x-shockwave-flash"
   PLUGINSPAGE="[[http://www.macromedia.com/go/getflashplaye]r]">
  </embed>
</object>